altgraph==0.17.4
annotated-types==0.7.0
asgiref==3.10.0
bcrypt==4.3.0
charset-normalizer==3.4.6
CTkMessagebox==2.7
customtkinter==5.2.2
darkdetect==0.8.0
Django==5.2.8
django-cors-headers==4.9.0
django-ninja==1.6.2
djangorestframework==3.17.1
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
pydantic==2.13.2
pydantic_core==2.46.2
pyinstaller-hooks-contrib==2025.5
pywin32-ctypes==0.2.3
reportlab==4.4.10
setuptools==80.9.0
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
